.title {
  font-size: 22px;
  color: #009688;
  font-family: Helvetica;
  margin: 100px 0px 30px 0px;
}
.row {
  background-color: #fdfd9e;
}
.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

#secondary {
  background-color: #6ed872;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
h3 {
  font-family: Helvetica;
  /*margin: 30px 0px 0px 120px;*/
}
button {
  font-family: Helvetica;
  /*margin-left: 200px;*/
}

@keyframes pulse {
  0% {
    background: #6ed872;
  }
  50% {
    background: #009688;
  }
  100% {
    border-radius: 0;
    background: #6ed872;
    animation: pulse 10s infinite
  }
}
